<div class="component-login">
    <div class="wrapper-form">
        <form>
            <fieldset>
                <div class="wrapper-field">
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" class="field-email" required />
                </div><!-- .wrapper-field -->
                <div class="wrapper-field">
                    <label for="pw">password</label>
                    <input type="password" id="pw" name="pw" class="field-pw" required />
                </div><!-- .wrapper-field -->
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .component-login -->