<div class="component-domain">
    <div class="wrapper-form">
        <form class="form-domain" [formGroup]="domainForm" (ngSubmit)="submit()">
            <fieldset>
                <legend>Information</legend>
                <mat-form-field appearance="outline" class=".form-field-block">
                    <mat-label>Name</mat-label>
                    <input type="text" id="name" name="name" class="field-name" required matInput formControlName="name" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter domain name</mat-hint>
                    <div class="field-errors" *ngIf="name?.touched || name?.dirty">
                        <mat-error *ngIf="name?.hasError('required')">
                            Please enter domain name
                        </mat-error>
                    </div><!-- .field-errors -->
                </mat-form-field>
                <mat-form-field appearance="outline" class=".form-field-block">
                    <mat-label>Slug</mat-label>
                    <input type="text" id="slug" name="slug" class="field-slug" required matInput formControlName="slug" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter domain slug</mat-hint>
                    <div class="field-errors" *ngIf="slug?.touched || slug?.dirty">
                        <mat-error *ngIf="slug?.hasError('required')">
                            Please enter domain slug
                        </mat-error>
                    </div><!-- .field-errors -->
                </mat-form-field>
                <mat-slide-toggle
                    class="example-margin"
                    formControlName="active">
                    Active
                </mat-slide-toggle>
            </fieldset>
            <button mat-raised-button color="primary" [disabled]="domainForm.invalid" >Submit</button>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .component-domain -->