<div class="component-role">
    <div class="wrapper-form">
        <form class="form-role" [formGroup]="roleForm" (ngSubmit)="submit()">
            <fieldset>
                <legend>Information</legend>

                <mat-form-field appearance="outline">
                    <mat-label>Domain</mat-label>
                    <input type="text" id="domain" name="domain" class="field-domain" placeholder="Domain Name" required matInput formControlName="domain" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please select domain</mat-hint>
                    <div class="field-errors" *ngIf="domain?.touched || domain?.dirty">
                        <mat-error *ngIf="domain?.hasError('required')">
                            Please select a role
                        </mat-error>
                    </div><!-- .field-errors -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" id="name" name="name" class="field-name" placeholder="Role Name" required matInput formControlName="name" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter role name</mat-hint>
                    <div class="field-errors" *ngIf="name?.touched || name?.dirty">
                        <mat-error *ngIf="name?.hasError('required')">
                            Please enter a role name
                        </mat-error>
                    </div><!-- .field-errors -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Slug</mat-label>
                    <input type="text" id="slug" name="slug" class="field-slug" placeholder="Slug" required matInput formControlName="slug" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter slug</mat-hint>
                    <div class="field-errors" *ngIf="slug?.touched || slug?.dirty">
                        <mat-error *ngIf="slug?.hasError('required')">
                            Please enter a slug
                        </mat-error>
                        <mat-error *ngIf="slug?.hasError('slug')">
                            Slug can only contain alphanumeric characters
                        </mat-error>
                    </div><!-- .field-errors -->
                </mat-form-field>
            </fieldset>
            <fieldset>
                <button mat-raised-button color="primary" [disabled]="roleForm.invalid"  >Save</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .component-role -->