<div class="component-user-list">
    <table>
        <caption>Users</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>
                    <a title="view" routerLink="/user/slug/view">slug</a>
                </td>
                <td>
                    <a title="edit" href="">edit</a>
                    <a title="toggle" href="">toggle</a>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- .component-user-list -->