<div class="component-user">
    <div class="wrapper-form">
        <form>
            <fieldset>
                <legend>Information</legend>
                <div class="wrapper-field">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="field-name" required />
                </div><!-- .wrapper-field -->
                <div class="wrapper-field">
                    <label for="slug">Slug</label>
                    <input type="text" id="slug" name="slug" class="field-slug" required />
                </div><!-- .wrapper-field -->
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .component-user -->