<nav>
    <ul>
        <li><a title="Add Domain" routerLink="add">Add</a></li>
    </ul>
</nav>
<div class="component-domain-list">
    <table>
        <caption>Domains</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>
                    <form class="form-filter" [formGroup]="filterForm" (ngSubmit)="submit()">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="filter" name="filter" class="field-filter" matInput formControlName="filter" />
                        </mat-form-field>
                    </form>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>
                    <a title="view" routerLink="/domains/slug/view">slug</a>
                </td>
                <td>
                    <a title="edit" href="">edit</a>
                    <a title="toggle" href="">toggle</a>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- .component-domain-list -->