<div class="component-wrapper-login">
    <div class="wrapper-form wrapper-form-login">
        <form id="form-login" [formGroup]="loginForm" (ngSubmit)="submit()">
            <fieldset>
                <div class="wrapper-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="field-email" required/>
                </div><!-- .wrapper-field -->
                <div class="wrapper-field">
                    <label for="pw">Password</label>
                    <input type="password" id="pw" name="pw" class="field-pw" required />
                </div><!-- .wrapper-field -->
            </fieldset>
            <fieldset>
                <button type="submit">
                    Log In
                </button>
                <ul>
                    <li><a routerLink="/user/reset-pw">Reset Password</a></li>
                </ul>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .component-wrapper-login -->