<div class="wrapper-patient-list-component">
    <div class="wrapper-toolbar">
        <mat-toolbar>
            <h1>Patients</h1>
            <nav>
                <a title="New Patient" routerLink="/admin/patient/add" mat-flat-button>New</a>
            </nav>
        </mat-toolbar>
    </div><!-- .wrapper-toolbar -->
    <div class="wrapper-patient-list-table">
        <table>
            <caption>Patients</caption>
            <thead>
                <tr>
                    <td colspan="2">
                        <a title="Add patient" routerLink="/patient/add">add</a>
                    </td>
                </tr>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td class="pager">
                        <a title="first" class="pager-first" href="">&gt;&gt;</a>
                        <a title="previous" class="pager-prev" href="">&gt;</a>
                        <span>1-50</span>
                        <a title="next" class="pager-next" href="">&lt;</a>
                        <a title="last" class="pager-last" href="">&lt;&lt;</a>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>
                        <a title="View patient" routerLink="/patient/view">view</a>
                        <a title="Edit patient" routerLink="/patient/edit">edit</a>
                        <a title="Toggle patient status" href="/patient/toggle-status">active</a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-patient-list-table -->
</div><!-- .wrapper-patient-list -->