body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    /* padding: 30px; */
}
  
html, body {
    height: 100%;
}

.app-container {
    height: 100%;
}

.app-container mat-sidenav-container {
    height: 100%;
}

.app-container .app-toolbar .spacer {
    flex: 1 1 auto;
}

.app-container .app-sidenav-container {
    padding: 10px;
}